<div class="body">
    <div class="sign-up">
        <header>
            <h1 class="text-center">Sign Up</h1>
            <h6 class="text-center">For Patients</h6>
        </header>

        <form [formGroup]="patientDetails" class="row">
            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>First Name</mat-label>
                <input matInput type="text" name="" id="" formControlName="firstName">
                <mat-error *ngIf="patientDetails.get('firstName')!.errors!==null && patientDetails.get('firstName')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Middle Name</mat-label>
                <input matInput type="text" name="" id="" formControlName="middleName">
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" name="" id="" formControlName="lastName">
                <mat-error *ngIf="patientDetails.get('lastName')!.errors!==null && patientDetails.get('lastName')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Location</mat-label>
                <mat-select formControlName="location">
                        <mat-option *ngFor="let state of location" value="state">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="number" name="" id="" formControlName="mobileNumber">
                <mat-error *ngIf="patientDetails.get('mobileNumber')!.errors!==null && patientDetails.get('mobileNumber')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Age</mat-label>
                <input matInput type="number" name="" id="" formControlName="age">
                <mat-error *ngIf="patientDetails.get('age')!.errors!==null && patientDetails.get('age')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Email ID</mat-label>
                <input matInput type="email" name="" id="" formControlName="emailId">
                <mat-error *ngIf="patientDetails.get('emailId')!.errors!==null && patientDetails.get('emailId')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="" id="" formControlName="password">
                <mat-error *ngIf="patientDetails.get('password')!.errors!==null && patientDetails.get('password')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Re-Password</mat-label>
                <input matInput type="password" name="" id="" formControlName="rePassword">
                <mat-error *ngIf="patientDetails.get('rePassword')!.errors!==null && patientDetails.get('rePassword')!.errors!['required']">
                    *Cannot be empty
                </mat-error>
            </mat-form-field>

            

            <button class="btn primarybtn mx-auto col-md-2" (click)="save()">Save</button>
            <p class="text-center mt-4">Already have an account? <a routerLink="/login" href="#">Log In</a></p>
            <p class="text-center mt-2">Not a Patient? <a routerLink="/signup/doctor" href="#">Click here</a></p>
        </form>
    </div>
</div>
