.body{
    height: 100vh;
    background-image: url("../../../assets/image/pawel-czerwinski--vcE6c-UP9E-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.sign-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75vw;
    height: max-content;
    background-color: aliceblue;
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header{
    margin-bottom: 3rem;
}

mat-form-field{
    margin-bottom: 0.3rem;
}

p{
    margin: 0;
}
