<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Arogyada</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
    <div class="credentials">
        <button mat-raised-button class="btn primarybtn" routerLink="/login">Login</button>
        <button mat-stroked-button class="mx-4 btn secondarybtn" routerLink="signup/patient" >SignUp</button>
    </div>
</nav>
