<div class="hero1">
    <div class="textdiv center-child">
    <h1 class="text-center">Connecting Lives</h1>
    <h4 class="text-center">Connecting the bridge between lives</h4>
    </div>
</div>
<div class="h-75 row align-content-center justify-content-around" style="background-color: rgba(0,0,0,0.2); width: 100%; margin: 0;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
    <div class="col-md-6 parent">
        <img class="center-child" src="../../assets/image/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg" alt="image">
    </div>
        
    <div class="col-md-6 parent">
        <div class="center-child">
            <p class="">
            Not feeling so <span>good</span>? The problem might be <span>bigger</span> than you think! <span>WHO</span> always suggests that we should <span>consult a doctor</span> before things get out of hands.
        </p>

        <button mat-raised-button class="mt-4 btn primarybtn" routerLink="/login" >Connect with Doctor</button>
        </div>
        
    </div>
</div>
<div class="hero2">
    <div class="textdiv center-child">
        <h1 class="text-center">Hope</h1>
        <h4 class="text-center">Contact Doctors when ever needed</h4>
    </div>
</div>
<div class="h-75 row align-content-center justify-content-around" style=" width: 100%; margin: 0;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">

    <div class="col-md-6 parent">
        <div class="center-child">
            <p class="">
                Starting a <span>new</span> day? Let's look at <span>today's appointments</span>
            </p>

            <button mat-raised-button class="mt-4 btn primarybtn" routerLink="/login">View Appointments</button>
        </div>
        
    </div>

    <div class="col-md-6 parent">
        <img class="center-child" src="../../assets/image/louis-reed-pwcKF7L4-no-unsplash.jpg" alt="image">
    </div>
</div>